#man {
    margin-top: 6.33333333333vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#man > h2 {
    height: 4.83333333333vw;
    font-family: var(--font-ablation2);
}

#man > p {
    width: 61.5104166667vw;
}

#man > p > a {
    color: #86a2ff;
    text-decoration: none;
}

#man > div {
    margin-top: 2.75vw;
}

#div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#div > p {
    width: 45.3125vw;
    text-align: start;
}

@media only screen and (max-width: 1366px) {
    #man {
        margin-top: 0;
    }

    #man > div {
        margin-top: 5.20833333333vw;
    }

    #div > p {
        width: 50.390625vw;
    }
}

@media only screen and (max-width: 767px) {
    #man > h2 {
        height: 16.1111111111vw;
        line-height: 1.1;
    }

    #man > p {
        width: 88.8888888889vw;
    }

    #man > div {
        flex-direction: column-reverse;
        margin-top: 1vw;
        gap: 5.55555555556vw
    }

    #man > div > p {
        width: 100%;
        font-size: 3.88888888889vw;
    }
}