#div {
    width: 20.5vw;
    animation: pulse 2s ease-in-out infinite;
}

@media only screen and (max-width: 1366px) {
    #div {
        width: 30vw;
    }
}

@media only screen and (max-width: 767px) {
    #div {
        width: 60vw;
    }
}

#div > video {
    width: 100%;
    height: 100%;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    50% {
        opacity: .9;
        transform: scale(1.1)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}