#div {
    width: 20.5vw;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    50% {
        opacity: .9;
        transform: scale(1.1)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

#img2{
    display: none;
}

@media not all and (min-resolution:.001dpcm) {
    #img2{
        display: block;
    }
    #img1{
        display: none;
    }
}