#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(203, 215, 255, 1);
    width: 100%;
    height: 100vh;
    animation-name: load;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes load {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}