#li1:hover, #li3:hover, #li7:hover, #li9:hover {
    transform: scale(1.01, 1.01);
    transition: transform 0.2s;
}

#li1, #li3, #li7, #li9 {
    transition: transform 0.2s;
}

#ul {
    margin-top: 4.75vw;
    grid-template-rows: 21.8333333vw 12.4166666667vw 12.4166666667vw;
    row-gap: 2.25vw;
}

#ul > a, #ul > li {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 2vw;
}

#li1, #li4 {
    gap: 2.25vw;
}

#li2, #li3 {
    gap: 2.3vw;
}

#li1, #li2 {
    padding-top: 2.39583333333vw;
}

#li3 {
    padding-top: 2.5vw;
    padding-left: 0.91666666666vw;
    padding-right: 0.91666666666vw;
}

#li4 {
    padding-top: 2.44791666667vw;
}

#li5 {
    padding-top: 4.32291666667vw;
}

#li6 {
    padding-top: 4.6875vw;
}

#li7 {
    padding-top: 3.59375vw;
}

#li8 {
    padding-top: 3.75vw;
}

#li9 {
    padding-top: 4.375vw;
}

#li1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#li2, #li4, #li7 {
    grid-column-start: 4;
    grid-column-end: 7;
}


#li3, #li5, #li8 {
    grid-column-start: 7;
    grid-column-end: 10;
}


#li6, #li9 {
    grid-column-start: 10;
    grid-column-end: -1;
}

#li4, #li5, #li6 {
    grid-row-start: 2;
}

#li7, #li8, #li9 {
    grid-row-start: 3;
}

@media only screen and (max-width: 1366px) {
    #ul {
        margin-top: 9.6302083333vw;
        grid-template-rows: 28.515625vw 16.5364583333vw 16.2760416667vw;
        row-gap: 2.86458333333vw;
    }

    #li1, #li4, #li7 {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #li2, #li5, #li8 {
        grid-column-start: 5;
        grid-column-end: 9;
    }

    #li3, #li6, #li9 {
        grid-column-start: 9;
        grid-column-end: 13;
    }

    #li1, #li2, #li3 {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #li4, #li5, #li6 {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #li7, #li8, #li9 {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #li1, #li2, #li3 {
        padding-top: 2.47395833333vw;
    }

    .gr {
        display: grid;
        grid-template-rows: 8.72395833333vw auto;
        row-gap: 0 !important;
        align-items: start;
    }

    #li4 {
        padding-top: 3.515625vw;
    }

    #li5, #li7, #li8, #li9 {
        padding-top: 0;
        justify-content: center;
    }

    #li6 {
        padding-top: 6.38020833333vw;
    }


}

@media only screen and (max-width: 767px) {
    #li1, #li2, #li3 {
        padding-top: 5.27777777778vw;
        justify-items: center;
    }

    #li2 {
        grid-template-rows: 11.6666666667vw auto;
    }

    #li1 {
        grid-template-rows: 13.3333333333vw auto;
    }

    #li3 {
        grid-template-rows: 13.0555555556vw auto;
    }

    #li1, #li2, #li4, #li7 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    #li3, #li5, #li6, #li8, #li9 {
        grid-column-start: 4;
        grid-column-end: 7;
    }

    #li1, #li3 {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #li2 {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    #li4, #li5 {
        grid-row-start: 4;
        grid-row-end: 5;
    }

    #li6 {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #li7, #li8 {
        grid-row-start: 5;
        grid-row-end: 6;
    }

    #li9 {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #ul {
        margin-top: 11.9444444444vw;
        grid-template-rows: 23.8888888889vw 23.6111111111vw 46.1111111111vw 23.6111111111vw 23.6111111111vw;
        row-gap: 3.88888888889vw;
        column-gap: 2.77777777778vw;
    }

    #li2 > p, #li3 > p {
        width: 39vw;
    }

    #li1 > p {
        width: 30vw;
    }

    #li1 > h3 {
        width: 30.7222222222vw;
    }

    #li8 > h3 {
        width: 38.7222222222vw;
    }

    #span3 {
        display: none;
    }
}