#contacts_list {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 0.75vw;
}

#contacts_list > h3 {
    font-family: var(--font-ablation);
    font-size: 1.33333333vw;
    font-weight: 900;
    line-height: 1.3;
}

#contacts_list > a {
    font-family: var(--font-ablation);
    font-size: 2vw;
    font-weight: 900;
    line-height: 1.3;
}


@media only screen and (max-width: 1366px) {
    #contacts_list > h3 {
        font-family: var(--font-ablation2);
        font-size: 1.82291666667vw;
        font-weight: 900;
        line-height: 1.3;
    }

    #contacts_list > a {
        font-family: var(--font-ablation2);
        font-size: 2.60416666667vw;
        font-weight: 900;
        line-height: 1.3;
    }
}

@media only screen and (max-width: 767px) {
    #contacts_list > h3 {
        font-family: var(--font-ablation2);
        font-size: 3.88888888889vw;
        font-weight: 900;
        line-height: 1.3;
    }

    #contacts_list > a {
        font-family: var(--font-ablation2);
        font-size: 5.55555555556vw;
        font-weight: 900;
        line-height: 1.3;
    }
}